@use "../../styles/text.module" as text;

.t1 {
  font: text.$text-t1;
  line-height: 44px;
  font-weight: 700;
}

.t2 {
  font: text.$text-t2;
  line-height: 34px;
  font-weight: 700;
}

.t3 {
  font: text.$text-t3;
  line-height: 28px;
  font-weight: 600;
}

.t4 {
  font: text.$text-t4;
  line-height: 24px;
  font-weight: 400;
}
