@use "../../styles/color.module" as color;
@use "../../styles/text.module" as text;

.common {
  width: fit-content;
  height: fit-content;
  border: 0;
  border-radius: 8px;
}

.small {
  font-size: 18px;
  font-weight: 600;

  padding: 6px 16px;
}

.medium {
  font-size: 24px;
  font-weight: 600;

  padding: 8px 16px;
}

.massive {
  font-size: 32px;
  font-weight: 700;

  padding: 12px 24px;
}

.primary {
  color: map-get(color.$common, white);
  background-color: map-get(color.$primary, main);

  &:hover {
    background-color: darken(map-get(color.$primary, main), 10%);
  }
  &:active {
    background-color: darken(map-get(color.$primary, main), 20%);
  }
}

.error {
  color: map-get(color.$common, white);
  background-color: map-get(color.$error, main);

  &:hover {
    background-color: darken(map-get(color.$error, main), 10%);
  }
  &:active {
    background-color: darken(map-get(color.$error, main), 20%);
  }
}
