$primary: (
  light: #71b3ff,
  main: #3196ef,
  dark: #0062b7,
);

$error: (
  light: #f3869d,
  main: #ec3a5d,
  dark: #c5082f,
);

$common: (
  white: #fff,
  black: #000,
  grey: #727274,
);

$background: (
  header: #1f2949,
  background-primary: #5b92d3,
  background-secondary: #6e7c99,
  border: #98a6c0,
);
