.header {
    position: sticky;
    top: 0;
    height: 62px;
    background-color: transparent;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 36px;
    z-index: 2;

    font-size: 28px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
