@use "styles/color.module" as color;

.small {
  width: 24px;
  height: 24px;
}

.medium {
  width: 50px;
  height: 50px;
}

.spinner {
  border: 6px solid map-get(color.$common, grey);
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
